
.root {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #979797;

  &.active {
    background-color: #002F0A;
  }
  .img {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    background-color: white;
    margin: 0 10px;
    border-radius: 5px;
  }
  .right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .labelTitle {
      display: flex;

      .labels {
        display: flex;

        .label {
          color: white;
        }
      }

      .title {
        font-size: 18px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #E6E6E6;
      }
    }

    .url {
      color: #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      margin-top: 2px;
      font-size: 14px;
    }
  }
}
