

.root {
  max-width: 868px;
  width: 100%;
  min-height: 484px;
  display: flex;
  flex-direction: column;

  .bg {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 7px 7px 0 7px;

    .inputContainer {
      height: 43px;
      display: flex;

      input {
        flex: 1 0 auto;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        font-size: 18px;
        padding: 0 10px;
      }

      .logo {
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #8B8B8B;
        font-weight: bold;
      }
    }

    .tabs {
      display: flex;
      flex-direction: column;

      .tab {
        border-bottom: 1px solid #979797;
      }
    }
  }
}
